In [33]:
!pip install matplotlib

Collecting matplotlib
  Using cached matplotlib-3.5.0-cp38-cp38-win_amd64.whl (7.2 MB)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\jeon6\anaconda3\envs\cssiri\lib\site-packages (from matplotlib) (4.28.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\jeon6\anaconda3\envs\cssiri\lib\site-packages (from matplotlib) (8.4.0)
Requirement already satisfied: setuptools-scm>=4 in c:\users\jeon6\anaconda3\envs\cssiri\lib\site-packages (from matplotlib) (6.3.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\jeon6\anaconda3\envs\cssiri\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\jeon6\anaconda3\envs\cssiri\lib\site-packages (from matplotlib) (3.0.4)
Requirement already satisfied: packaging>=20.0 in c:\users\jeon6\anaconda3\envs\cssiri\lib\site-packages (from matplotlib) (21.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\jeon6\anaconda3\envs\cssiri\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\jeon6\anaconda3\envs\cssiri\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: numpy>=1.17 in c:\users\jeon6\anaconda3\envs\cssiri\lib\site-packages (from matplotlib) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\jeon6\anaconda3\envs\cssiri\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: setuptools in c:\users\jeon6\anaconda3\envs\cssiri\lib\site-packages (from setuptools-scm>=4->matplotlib) (58.0.4)
Requirement already satisfied: tomli>=1.0.0 in c:\users\jeon6\anaconda3\envs\cssiri\lib\site-packages (from setuptools-scm>=4->matplotlib) (1.2.2)
Installing collected packages: matplotlib
Successfully installed matplotlib-3.5.0

In [2]:
import pandas as pd

In [3]:
a = pd.DataFrame([[0,1,2], ["<pad>","<sos>","<eos>"],[0,0,0]]).transpose()

In [4]:
a.columns = ["id", "char","freq"]

In [5]:
a

  id   char freq
0  0  <pad>    0
1  1  <sos>    0
2  2  <eos>    0

In [6]:
b = pd. read_csv("cssiri.csv")

In [8]:
# del b["Unnamed: 0"]

In [9]:
b

      id   char     freq
0      0  <pad>        0
1      1  <sos>        0
2      2  <eos>        0
3      3         4164373
4      4      이   388630
..   ...    ...      ...
984  984      쪄       16
985  985      꿨       16
986  986      렙       15
987  987      짢       14
988  988      쎄       14

[989 rows x 3 columns]

In [10]:
c = pd.concat([a,b], axis= 0 )

In [11]:
c = c.reset_index(drop=True)

In [12]:
c

      id   char freq
0      0  <pad>    0
1      1  <sos>    0
2      2  <eos>    0
3      0  <pad>    0
4      1  <sos>    0
..   ...    ...  ...
987  984      쪄   16
988  985      꿨   16
989  986      렙   15
990  987      짢   14
991  988      쎄   14

[992 rows x 3 columns]

In [69]:
a.iloc[:986]

      id char     freq
3      3       4164373
4      4    이   388630
5      5    다   329186
6      6    는   323587
7      7    에   289445
..   ...  ...      ...
984  984    쪄       16
985  985    꿨       16
986  986    렙       15
987  987    짢       14
988  988    쎄       14

[986 rows x 3 columns]

In [30]:
c

      id   char     freq
0      0  <pad>        0
1      1  <sos>        0
2      2  <eos>        0
3      3         4164373
4      4      이   388630
..   ...    ...      ...
984  984      쪄       16
985  985      꿨       16
986  986      렙       15
987  987      짢       14
988  988      쎄       14

[989 rows x 3 columns]

In [13]:
c

      id   char freq
0      0  <pad>    0
1      1  <sos>    0
2      2  <eos>    0
3      0  <pad>    0
4      1  <sos>    0
..   ...    ...  ...
987  984      쪄   16
988  985      꿨   16
989  986      렙   15
990  987      짢   14
991  988      쎄   14

[992 rows x 3 columns]

In [14]:
c.to_csv("cssiri_character_vocabs.csv", index=False, encoding= "utf-8")

In [54]:
a[a["freq"]<100].head(50)

        id   char  freq
0        0  <pad>     0
1        1  <sos>     0
2        2  <eos>     0
954    954      눕    96
955    955      뼘    92
956    956      뜩    91
957    957      갓    91
958    958      띱    90
959    959      뜬    84
960    960      탓    83
961    961      쭸    82
962    962      콕    81
963    963      쫓    81
964    964      끕    80
965    965      틱    79
966    966      갛    75
967    967      엎    74
968    968      짤    72
969    969      땐    68
970    970      깁    66
971    971      컷    65
972    972      뙤    65
973    973      숲    59
974    974      짰    57
975    975      젖    54
976    976      젊    53
977    977      링    48
978    978      덧    45
979    979      뿌    32
980    980      쐬    22
981    981      껏    22
982    982      솥    21
983    983      왠    20
984    984      쪄    16
985    985      꿨    16
986    986      렙    15
987    987      짢    14
988    988      쎄    14
989    989      빽     4
990    990      맘     4
991    991      랗     4
992    992      압     3
993    993      섰     3
994    994      꿔     3
995    995      켈     2
996    996      쏜     2
997    997      쌩     2
998    998      륨     2
999    999      륜     2
1000  1000      늠     2

In [49]:
a[a["freq"]<5].count()

id      49
char    49
freq    49
dtype: int64

In [16]:
!dir

 D ����̺��� ����: �� ����
 ���� �Ϸ� ��ȣ: 0A5D-7087

 d:\code\kospeech-latest\dataset\kspon ���͸�

2021-12-03  ���� 06:24    <DIR>          .
2021-12-03  ���� 06:24    <DIR>          ..
2021-12-03  ���� 05:16            13,644 cssiri_character_vocabs.csv
2021-12-03  ���� 04:40            31,531 EDA.ipynb
2021-09-16  ���� 06:17             1,068 LICENSE
2021-11-25  ���� 10:56             3,430 main.py
2021-11-25  ���� 10:09    <DIR>          preprocess
2021-09-16  ���� 06:17               702 preprocess.sh
2021-09-16  ���� 06:17             4,464 README.md
2021-09-16  ���� 06:17                40 requirements.txt
2021-11-25  ���� 02:38        39,167,695 train.txt
               8�� ����          39,222,574 ����Ʈ
               3�� ���͸�  94,862,553,088 ����Ʈ ����

In [41]:
import os

for (path, dir, files) in os.walk("G:/내 드라이브/code/train wav"):
    # if 'wav' in files:
    print("CN11RC025_CN0065_20210730.wav" in files)

True

In [46]:
import os

for (path, dir, files) in os.walk("G:/내 드라이브/code/kospeech-latest/outputs"):
    for file in files:
        if 'model.pt' in files and 'trainer_states.pt' in files:
            print(path)
            print(files)
            print(dir)

G:/내 드라이브/code/kospeech-latest/outputs\2021-12-05\15-49-32
['main.log', 'model.pt', 'train_step_result.csv', 'trainer_states.pt']
['.hydra']
G:/내 드라이브/code/kospeech-latest/outputs\2021-12-05\15-49-32
['main.log', 'model.pt', 'train_step_result.csv', 'trainer_states.pt']
['.hydra']
G:/내 드라이브/code/kospeech-latest/outputs\2021-12-05\15-49-32
['main.log', 'model.pt', 'train_step_result.csv', 'trainer_states.pt']
['.hydra']
G:/내 드라이브/code/kospeech-latest/outputs\2021-12-05\15-49-32
['main.log', 'model.pt', 'train_step_result.csv', 'trainer_states.pt']
['.hydra']

In [ ]:
import os

for (path, dir, files) in os.walk("G:/내 드라이브/code/kospeech-latest/outputs"):
    for file in files:
        if 'model.pt' in files and 'trainer_states.pt' in files:
            print(path)
            print(files)
            print(dir)

In [63]:
a =['잠시시시만만                                               내                         지지갑갑이이                         디디 까지지                                        유유민민아아아                                     미안안한한데데                     내내내               지지지갑갑갑이이이              없어어진진                거거거거                    같같아']
a

['잠시시시만만                                               내                         지지갑갑이이                         디디 까지지                                        유유민민아아아                                     미안안한한데데                     내내내               지지지갑갑갑이이이              없어어진진                거거거거                    같같아']

In [74]:
def s(sentence):
    words = sentence[0].split()
    result = []
    for word in words:
        tmp = ''    
        for t in word:
            if not tmp:
                tmp += t
            elif tmp[-1]!= t:
                tmp += t
        result.append(tmp)
    return ' '.join(result)

In [60]:
s('잠시시시만만')

'잠시만'

In [75]:
s(a)

'잠시만 내 지갑이 디 까지 유민아 미안한데 내 지갑이 없어진 거 같아'

In [1]:
import datetime as dt
import os

now = dt.datetime.now()
formattedDate = now.strftime("%y%m%d_%H시%M분")
path = "D:/code/kospeech-latest/outputs"
result1 = "test_211210_03시27분(2021-12-09_03-14-09_epoch18).txt"
result2 = "test_211211_04시56분(2021-12-10_09-00-20_epoch30).txt"
    
with open(os.path.join(path, result1), 'r') as f:
    sentences1 = f.readlines()
with open(os.path.join(path, result2), 'r') as f:
    sentences2 = f.readlines()

with open(os.path.join(path, f"비교_{formattedDate}.txt"), 'a') as f:
    f.write(f"[{result1}]" + '  vs  ' + f"[{result2}]")
    f.write("\n\n")
    cnt = 0
    for (x, y) in zip(sentences1, sentences2):
        if x.split('\t')[-1] != y.split('\t')[-1]:
            f.write(x.split('\t')[0])
            f.write("\n")
            f.write("{}".format(x.split('\t')[-1]))
            f.write("{}".format(y.split('\t')[-1]))
            cnt +=1
    f.write("\n\n")
    f.write(f"총 다른 문장 {cnt}개")

In [94]:
from random import sample
a = sample(range(0,100), 4)
a

[53, 28, 15, 98]

In [3]:
import shutil
import os
from random import sample
import json
import re
import pandas as pd


path_train = "D:/code/train wav"
path_meta = "D:/code/metadata"

train = os.listdir(path_train)
meta = os.listdir(path_meta)
labels_dest = "D:/code/kospeech-latest/dataset/kspon"

def rule(x):
    # 괄호
    a = re.compile(r'\([^)]*\)')
    # 문장 부호
    b = re.compile('[^가-힣0-9 ]')
    x = re.sub(pattern=a, repl='', string= x)
    x = re.sub(pattern=b, repl='', string= x)
    return x

def load_label(filepath):
    char2id = dict()
    id2char = dict()

    ch_labels = pd.read_csv(filepath, encoding="utf-8")

    id_list = ch_labels["id"]
    char_list = ch_labels["char"]
    freq_list = ch_labels["freq"]

    for (id_, char, freq) in zip(id_list, char_list, freq_list):
        char2id[char] = id_
        id2char[id_] = char
    return char2id, id2char

char2id, id2char = load_label(os.path.join(labels_dest, "cssiri_character_vocabs.csv"))

def sentence_to_target(sentence, char2id):
    target = str()

    for ch in sentence:
        try:
            target += (str(char2id[ch]) + ' ')
        # 사전에 없는 경우 넘어가라 -> 그냥 묵음처리나 마찬가지.
        except KeyError:
            continue

    return target[:-1]

for n in range(1,2):
    randints = sample(range(0,300000),1)
    dst = f'D:/code/sample_{n}'
    if not os.path.isdir(dst):
        os.mkdir(dst)
    if not os.path.isdir(os.path.join(dst, "audio")):
        os.mkdir(os.path.join(dst, "audio"))
    for num in randints:
        shutil.copy(os.path.join(path_train, train[num]), os.path.join(dst, "audio"))
    with open(path_meta + "/" + meta[num], 'r', encoding='UTF-8') as f:

        json_data = json.load(f)
        reading = json.dumps(json_data["transcription"]["ReadingLabelText"], ensure_ascii = False)
        reading = rule(reading)
        char_id_transcript = sentence_to_target(reading, char2id)
        with open(os.path.join(dst,"transcripts.txt"), "a") as f:
            # f.write('{0}\t{1}\n'.format(train[num], reading))
            f.write(f'{train[num]}\t{reading}\t{char_id_transcript}\n')

In [ ]:
print('create_script started..')
    

    with open(os.path.join("transcripts.txt"), "w") as f:
        for audio_path, transcript in zip(audio_paths, transcripts):
            char_id_transcript = sentence_to_target(transcript, char2id)
            audio_path = audio_path.replace('txt', 'wav')
            f.write(f'{audio_path}\t{transcript}\t{char_id_transcript}\n')